<div class="row ">
    <div id="ruleLists" class="col-12">
                    <dx-list 
                        style="flex: 1 1 20%"
                        [dataSource]="ruleGroups"
                        [grouped]="true"
                        selectionMode="none"
                        [collapsibleGroups]="true">
                            <div *dxTemplate="let item of 'group'">
                                <div>Property:  {{item.name}}</div>
                            </div>
                            <div *dxTemplate="let item of 'item'" style="display:flex; flex-direction: row;">
                                <div style="flex: 1 1 auto"> 
                                        <dx-check-box [value]="item.enabled"  (onValueChanged)="onEnableOrDisableRule($event,item)" style="margin-right: 12px"></dx-check-box><span>{{item.formula}}</span>    
                                </div>
                              <!--   <div style="flex: 0 0 auto">
                                        <a class="m--font-metal"><span (click)="onOpenRule(item.id)">Open</span></a>
                                        <span>-</span>
                                        <a class="m--font-metal"><span confirmClick (onConfirm)="onDeleteRule(item)">Delete</span></a>
                                </div>  -->
                            </div>
                    </dx-list>
                    <dx-load-panel
                        [position]="{ of: '#ruleLists' }"
                        [(visible)]="_loadingPanelVisible"
                        [showIndicator]="false"
                        message=""
                        [showPane]="false"
                        [shading]="true"
                        [closeOnOutsideClick]="false">
                    </dx-load-panel>
    </div>
</div>

