<dx-popup
        class=""
        [width]="'80vw'"
        [height]="'80vh'"
        [showTitle]="true"
        title={{title}}
        [dragEnabled]="false"
        [shading]="true"
        [shadingColor]="'rgb(0,0,0,0.3)'"
        [closeOnOutsideClick]="false"
        [showCloseButton]="true"
        (onHidden)="close()"
        [(visible)]="visible">
    <div *dxTemplate="let data of 'content'">

        <div class="m-portlet" style="height: 100%">

            <form class="m-form" style="height: 100%">
                <div class="m-portlet__body" style="height: calc(100% - 97px); padding-top: 0;padding-bottom: 0">
                 
                        <div [hidden]="step == 2" style="height: 100%" class="m-form__section m-form__section--first m--padding-bottom-30 m--padding-top-30">
                            <dx-scroll-view [height]="'100%'">
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label">
                                            Aspect Name:
                                        </label>
                                        <div class="col-lg-4">
                                            <dx-text-box class="form-control m-input" [(value)]="_aspectName">
                                                <dx-validator>
                                                    <dxi-validation-rule type="required" message="Label Name is required"></dxi-validation-rule>
                                                </dx-validator>
                                            </dx-text-box>
                                        
                                            <span class="m-form__help">
                                        Enter a unique Aspect name
                                    </span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label">
                                            Aspect Description:
                                        </label>
                                        <div class="col-lg-4">
                                            <dx-text-box class="form-control m-input" [(value)]="_aspectDescription">
                                            </dx-text-box>
                    
                                            <span class="m-form__help">
                                                Enter Aspect Description
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <label class="col-lg-2 col-form-label">
                                            Inherits from:
                                        </label>
                                        <div class="col-lg-4">
                                            <aspect-chooser [(selectedAspects)]="_inheritedAspects"></aspect-chooser>
                                            <span class="m-form__help">
                                        Select existing Aspects you want to inherit their properties and dynamics
                                    </span>
                                        </div>
                                    </div>

                                    <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space m--margin-bottom-40"></div>
                                    <div>
                                        <div class="form-group  m-form__group row" id="m_repeater_1">
                                            <label class="col-lg-2 col-form-label">
                                                Properties:
                                            </label>
                                            <div class="col-lg-10">
                                            <div #properiesEditForm></div>

                                            </div>

                                        </div>
                                        <div class="m-form__group form-group row">
                                            <label class="col-lg-2 col-form-label"></label>
                                            <div class="col-lg-4">
                                                <dx-lookup
                                                        [items]="['Numerical', 'Component', 'Text', 'Relation','True/False', 'Time', 'Location', 'Financial Statements Item','Multidimensional','Decision Matrix','Risk Matrix','Decision Tree','Route','State']"
                                                        placeholder="Select property type"
                                                        [closeOnOutsideClick]="true"
                                                        [showPopupTitle]="false" [(value)]="_newPropertyType">
                                                        <dx-validator>
                                                            <dxi-validation-rule type="required" message="Property Type is required"></dxi-validation-rule>
                                                        </dx-validator>
                                                </dx-lookup>

                                            </div>
                                            <div class="col-lg-4">
                                                <div class="btn btn btn-sm m-btn--air btn-secondary m-btn--custom m-btn--label-success m-btn--bolder m-btn m-btn--icon m-btn--pill m-btn--wide" (click)="onAddNewProperty()">
                                            <span>
                                                <i class="la la-plus m--font-success"></i>
                                                <span>
                                                    Add New Property
                                                </span>
                                            </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                            </dx-scroll-view>
                        </div>
                        <div [hidden]="step == 1" style="height:100%" class="m-form__section m-form__section--first m--padding-bottom-30 m--padding-top-30">
                            <label>New Rules</label>
                            <dx-scroll-view [height]="'35%'">
                                    <div #rulesEditor>
                                    </div>
                                    <div class="form-group m-form__group row">
                                            <div class="col-lg-4">
                                                <div class="btn btn btn-sm m-btn--air btn-secondary m-btn--custom m-btn--label-success m-btn--bolder m-btn m-btn--icon m-btn--pill m-btn--wide" (click)="onAddNewRule()">
                                                <span>
                                                    <i class="la la-plus m--font-success"></i>
                                                    <span>
                                                        Add New Rule
                                                    </span>
                                                </span>
                                                </div>
                                        
                                            </div>
                                        
                                    </div> 
                                    <div class="m-form__seperator--space m--margin-bottom-20"></div>
                            </dx-scroll-view>
                            <div class="m-form__seperator m-form__seperator--dashed  m-form__seperator--space"></div>
                            <label>Inherited Rules</label>
                            <div class="form-group m-form__group row" style="height: 40%">
                                <div class="col-12" style="height:100%">
                                        <dx-list 
                                        height="100%"
                                        [dataSource]="_ruleGroup"
                                        [grouped]="true"
                                        selectionMode="none"
                                        [collapsibleGroups]="true">
                                            <div *dxTemplate="let item of 'group'">
                                                <div>Property:  {{item.name}}</div>
                                            </div>
                                            <div *dxTemplate="let item of 'item'">
                                                    <span>{{item.formula}}</span>     
                                            </div>
                                        </dx-list>
                                </div>

                            </div>


                        </div>
                  
                </div>

                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid m-form__actions--right">
                        <span class="float-left">Help</span>
                        <button  [disabled]="_disabledNextButton" *ngIf="step == 1" class="btn btn-brand m-btn--wide" type="button" (click)="next()">
                            Next
                        </button>
                        <button  [disabled]="_disabledDoneButton" *ngIf="step == 2" class="btn btn-brand m-btn--wide" type="button" (click)="onSubmit()">
                            Done
                        </button>
                    </div>
                </div>
            </form>
            <!--begin::Form-->
            <!--end::Form-->
        </div>

    </div>
</dx-popup>

