<div class="m-list-timeline">
    <div class="m-list-timeline__items">
        <div class="m-list-timeline__item">
            <span class="m-list-timeline__badge"></span>
            <span class="m-list-timeline__text">
																		12 new users registered and pending for activation
																	</span>
            <span class="m-list-timeline__time">
																		Just now
																	</span>
        </div>
        <div class="m-list-timeline__item">
            <span class="m-list-timeline__badge"></span>
            <span class="m-list-timeline__text">
																		Scheduled system reboot completed
																		<span class="m-badge m-badge--success m-badge--wide">
																			completed
																		</span>
																	</span>
            <span class="m-list-timeline__time">
																		14 mins
																	</span>
        </div>
        <div class="m-list-timeline__item">
            <span class="m-list-timeline__badge"></span>
            <span class="m-list-timeline__text">
																		New order has been planced and pending for processing
																	</span>
            <span class="m-list-timeline__time">
																		20 mins
																	</span>
        </div>
        <div class="m-list-timeline__item">
            <span class="m-list-timeline__badge"></span>
            <span class="m-list-timeline__text">
																		Database server overloaded 80% and requires quick reboot
																		<span class="m-badge m-badge--info m-badge--wide">
																			settled
																		</span>
																	</span>
            <span class="m-list-timeline__time">
																		1 hr
																	</span>
        </div>
        <div class="m-list-timeline__item">
            <span class="m-list-timeline__badge"></span>
            <span class="m-list-timeline__text">
																		System error occured and hard drive has been shutdown -
																		<a href="#" class="m-link">
																			Check
																		</a>
																	</span>
            <span class="m-list-timeline__time">
																		2 hrs
																	</span>
        </div>
        <div class="m-list-timeline__item">
            <span class="m-list-timeline__badge"></span>
            <span class="m-list-timeline__text">
																		Production server is rebooting...
																	</span>
            <span class="m-list-timeline__time">
																		3 hrs
																	</span>
        </div>
    </div>
</div>