
    <div class="m-content">
        <div class="row ">
            <div class="col-12">
                <div class="m-portlet full-height-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">

                                <h3 class="m-portlet__head-text m--font-brand">
                                    Events Log
                                </h3>
                            </div>
                        </div>
                        <div class="m-portlet__head-tools">

                            <div class="btn-group m-btn-group m-btn-group--pill" role="group" aria-label="...">
                                <button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                    Sort
                                </button>
                                <button type="button" class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                    Filter
                                </button>
                            </div>
                            <button class="m--margin-left-20 btn btn-sm btn-outline-metal m-btn m-btn--icon m-btn--icon-only m-btn--pill" type="button">
                                <i class="fa fa-expand"></i>
                            </button>
                        </div>

                    </div>
                    <div class="m-portlet__body m--padding-top-10 m--padding-bottom-10 ">
                        <events-log></events-log>
                    </div>
                </div>
            </div>


        </div>
    </div>

