
<dx-pivot-grid id="sales"
                       (onCellPrepared) = "handleCell($event)"
                       [allowSortingBySummary]="true"
                       [allowSorting]="true"
                       [allowFiltering]="true"
                       [allowExpandAll]="true"
                       [height]="'auto'"
                       [showBorders]="true"
                       [rowHeaderLayout]="'tree'"
                       [showColumnGrandTotals] = "false"
                       [showRowGrandTotals] = "false"
                       [showColumnTotals] = "false"
                       [dataSource]="getDataSource()">
            <dxo-field-chooser [enabled]="false"></dxo-field-chooser>
        </dx-pivot-grid>
